
// Cards container
.custom-card-container {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  &:empty {
    display: none;
  }
}

.day-title {
  margin: 0 0 5px 28px;
  font-size: 18px;
  font-weight: 400;
  &:first-of-type {
    margin-top: 20px;
  }
}

.day-divider {
  margin: 0 0 0 28px;
  width: calc(100% - 56px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 0;
}

.refresh-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 0;
  border-radius: 50%;
  min-height: 45px;
  min-width: 45px;
  transition: all 300ms ease-in-out;
  &:hover {
    scale: 1.1;
  }
}
