
<app-layout [view]="view" [(isLoading)]="isLoading" [(searchValue)]="searchValue" (searchValueChange)="search($event)">

  <ng-container *ngIf="settings.displayEpisodesDayByDay; else showAllTemplate">

    <ng-container *ngFor="let day of days">
      <ng-container *ngIf="episodesByDays[day]?.length">
        <h3 class="day-title">{{ day | shortdate }}</h3>
        <div class="day-divider"></div>
        <section class="custom-card-container">
          <ng-container
            *ngFor="let episode of episodesByDays[day]"
            [ngTemplateOutlet]="episode.range ? episodeRangeCard : episodeCard"
            [ngTemplateOutletContext]="{ $implicit: episode }"
          ></ng-container>
        </section>
      </ng-container>
    </ng-container>

  </ng-container>

  <ng-template #showAllTemplate>

    <section class="custom-card-container">
      <ng-container
        *ngFor="let episode of episodes"
        [ngTemplateOutlet]="episode.range ? episodeRangeCard : episodeCard"
        [ngTemplateOutletContext]="{ $implicit: episode }"
      ></ng-container>
    </section>

  </ng-template>

  <ng-template #episodeCard let-episode>
    <episode-card
      [episode]="episode"
      (streamLinksClick)="openStreamLinksDialog($event)"
      (downloadLinksClick)="openDownloadLinksDialog($event)"
    ></episode-card>
  </ng-template>

  <ng-template #episodeRangeCard let-episodeRange>
    <episode-range-card
      [episodeRange]="episodeRange"
      (streamLinksClick)="openStreamLinksDialog($event)"
      (downloadLinksClick)="openDownloadLinksDialog($event)"
    ></episode-range-card>
  </ng-template>

  <episode-choose-link-dialog #episodeStreamLinksDialog
    [title]="'Choose a stream link'"
    [links]="selectedEpisode?.streamLinks || []"
    (linkClick)="markEpisodeAsViewed(selectedEpisode)"
    (close)="selectedEpisode = null"
  ></episode-choose-link-dialog>

  <episode-choose-link-dialog #episodeDownloadLinksDialog
    [title]="'Choose a download link'"
    [links]="selectedEpisode?.downloadLinks || []"
    (linkClick)="markEpisodeAsViewed(selectedEpisode)"
    (close)="selectedEpisode = null"
  ></episode-choose-link-dialog>

  <episode-range-choose-link-dialog #episodeRangeStreamLinksDialog
    [title]="'Choose a stream link'"
    [episodes]="selectedEpisodeRange?.range || []"
    linksKey="streamLinks"
    (linkClick)="markEpisodeAsViewed($event)"
    (close)="selectedEpisodeRange = null"
  ></episode-range-choose-link-dialog>

  <episode-range-choose-link-dialog #episodeRangeDownloadLinksDialog
    [title]="'Choose a download link'"
    [episodes]="selectedEpisodeRange?.range || []"
    linksKey="downloadLinks"
    (linkClick)="markEpisodeAsViewed($event)"
    (close)="selectedEpisodeRange = null"
  ></episode-range-choose-link-dialog>

</app-layout>

<button *ngIf="!isLoading" mdcButton raised class="refresh-button" title="Refresh" (click)="refresh()">
  <i mdcButtonIcon class="material-icons">refresh</i>
</button>
