
// Cards container
.custom-card-container {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  &:empty {
    display: none;
  }
}

.day-title {
  margin: 0 0 5px 28px;
  font-size: 18px;
  font-weight: 400;
  &:first-of-type {
    margin-top: 20px;
  }
}

.day-divider {
  margin: 0 0 0 28px;
  width: calc(100% - 56px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 0;
}
