<div #viewport class="snippet-page">
  <aside mdcDrawerContainer="temporary" [(open)]="open">
    <nav mdcDrawer>
      <div mdcDrawerToolbarSpacer></div>
      <!-- <div mdcDrawerHeader>
        <div mdcDrawerHeaderContent>Anime Tracker</div>
      </div> -->
      <div mdcDrawerContent mdcListGroup>
        <nav mdcList>
          <a mdcListItem href="javascript:void(0)">
            <i mdcListItemGraphic class="material-icons" aria-hidden="true">star</i>Latest
          </a>
          <a mdcListItem href="javascript:void(0)">
            <i mdcListItemGraphic class="material-icons" aria-hidden="true">favorite</i>Favorites
          </a>
        </nav>
        <!-- <hr mdcListDivider> -->
      </div>
    </nav>
  </aside>
  <div class="content">
    <header mdcTopAppBar [viewport]="viewport" [fixedAdjust]="content">
      <div mdcTopAppBarRow>
        <section mdcTopAppBarSection alignStart>
          <button mdcTopAppBarNavIcon class="material-icons" (click)="toggleDrawer()">menu</button>
          <span mdcTopAppBarTitle>Anime Tracker</span>
        </section>
        <section mdcTopAppBarSection alignEnd>
          <a routerLink="./settings" mdcTopAppBarAction class="material-icons" label="Settings">settings</a>
        </section>
      </div>
    </header>

    <main #content>
      <div mdcLinearProgress [indeterminate]="true" [closed]="!isLoading"></div>

        <ng-container *ngIf="settings.displayEpisodesDayByDay; else showAllTemplate">

          <ng-container *ngFor="let day of days">
            <h3 class="day-title">{{ day | shortdate }}</h3>
            <div class="day-divider"></div>
            <section class="custom-card-container">
              <ng-container *ngFor="let episode of episodes">
                <app-card *ngIf="isSameDay(episode.releaseDate, day)" [episode]="episode"></app-card>
              </ng-container>
            </section>
          </ng-container>

        </ng-container>

        <ng-template #showAllTemplate>

          <section class="custom-card-container">
            <ng-container *ngFor="let episode of episodes">
              <app-card [episode]="episode"></app-card>
            </ng-container>
          </section>

        </ng-template>

    </main>
  </div>
</div>
