@import "@material/theme/mixins";
@import "@material/typography/mixins";
@import "@material/rtl/mixins";
@import "@material/card/mixins"; // stackblitz-skip-line: Not supported on stackblitz due to https://github.com/stackblitz/core/issues/284

// Place drawer and content side by side:
.blox-snippet-page {
    display: flex;
    flex-direction: row;
    height: 400px;
}

.mdc-drawer--temporary {
    // the default position is fixed, but in this demo we want to position the drawer
    // inside its parent, not fixed to the viewport:
    position: absolute;
}

[mdcDrawerHeader], [mdcDrawerToolbarSpacer] {
    // color the header variants the same way as the toolbar:
    @include mdc-theme-prop(background-color, primary);
    @include mdc-theme-prop(color, on-primary);
}

// Stack toolbar and main on top of each other:
.blox-demo-content {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
}

.blox-demo-main {
    padding-left: 16px;
}

/*----- Cards -----*/

.custom-card-container {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    padding-top: 24px;
}

.card-badge-number {
    position: absolute;
    right: 0;
    top: 0;
    span {
        position: relative;
        display: block;
        padding: 4px 10px;
        color: #fff;
        font-weight: 500;
        font-size: 13px;
        background: #00a651; //#0061aa;
        &:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-top: 24px solid #00a651;
            position: absolute;
            top: 0;
            right: 100%;
        }
    }
}

[mdcCard] {
    margin: 0 13px 24px;

    &.custom-card-photo {
        max-width: 200px;
        min-width: 100px;

        [mdcCardMediaContent] {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            h2 {
                padding: 8px 16px;
                margin: 0;
                @include mdc-typography('subtitle1');
                background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
                color: white;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}
