
<div mdcCard class="custom-card-photo">
  <a mdcCardPrimaryAction [href]="episode.streamLinks[0].url" (click)="onClick($event)" target="_blank">
    <div mdcCardMedia size="square"
      [style.background-image]="episode.anime.cover | url:'encodeAndFormat' | safe:'style'"
      [attr.data-cover]="episode.anime.cover"
    >
      <div mdcCardMediaContent>
        <h2 [title]="episode.anime.title">
          <ng-container *ngIf="episode.anime.isMovie">
            <i class="material-icons" title="Movie">movie</i>
          </ng-container>
          {{ episode.anime.title }}
        </h2>
        <div class="card-badge number">
          <span>{{ episode.number }}</span>
        </div>
        <div *ngIf="episode.anime.isNew" class="card-badge new">
          <span>New</span>
        </div>
        <div *ngIf="episode.anime.isFinished" class="card-badge end">
          <span>End</span>
        </div>
      </div>
    </div>
  </a>
  <div class="mdc-card__actions mdc-card__action-icons" #viewport>
    <div *ngIf="episode.isViewed; else isRegularTemplate" mdcMenuAnchor #anchor="mdcMenuAnchor" [style.display]="'flex'">
      <button class="material-icons-outlined mdc-icon-button wider blue-eye" title="Viewed" [style.margin]="0" (click)="isViewedMenu.open = true">visibility</button>
      <div mdcMenu
          [(open)]="isViewedMenu.open"
          [menuAnchor]="anchor"
          [viewport]="viewport"
          #isViewedMenu>
        <ul mdcList>
          <li mdcListItem (click)="markAsUnviewed()">Mark as unviewed</li>
        </ul>
      </div>
    </div>
    <ng-template #isRegularTemplate>
      <button *ngIf="episode.isRegular" [routerLink]="['/viewed', episode.anime.title]" class="material-icons mdc-icon-button green-check" title="Regular">
        check_circle_outline
      </button>
    </ng-template>
    <button iconToggle class="material-icons mdc-icon-button" classOn="red-heart"
      titleOn="Remove from favorites" titleOff="Add to favorites"
      iconOn="favorite" iconOff="favorite_border"
      [on]="isFavorite()" (onChange)="toggleFavorite($event)"></button>
    <button class="material-icons mdc-icon-button" title="Stream links" (click)="showStreamLinks()">play_circle_outline</button>
    <button class="material-icons mdc-icon-button" title="Download links" (click)="showDownloadLinks()">save_alt</button>
    <!-- <button class="material-icons mdc-icon-button" title="More options">more_vert</button> -->
  </div>
</div>
