
<div mdcCard class="custom-card-photo">
  <a mdcCardPrimaryAction [href]="release.streamLinks[0].url" (click)="onClick($event)" target="_blank">
    <div mdcCardMedia size="square" [ngStyle]="{'background-image': 'url(' + release.cover + ')'}">
      <div mdcCardMediaContent>
        <h2 [title]="release.animeTitle">{{ release.animeTitle }}</h2>
        <div class="card-badge number">
          <span>{{ release.number }}</span>
        </div>
        <div *ngIf="release.isNew" class="card-badge new">
          <span>New</span>
        </div>
        <div *ngIf="release.isLast" class="card-badge end">
          <span>End</span>
        </div>
      </div>
    </div>
  </a>
  <div mdcCardActions mdcCardActionIcons>
    <button mdcIconButton class="material-icons"
      labelOn="Remove from favorites" labelOff="Add to favorites"
      iconOn="favorite" iconOff="favorite_border"></button>
    <button mdcIconButton class="material-icons" title="Stream links" (click)="openStreamLinks()">play_circle_outline</button>
    <button mdcIconButton class="material-icons" title="Download links" (click)="openDownloadLinks()">save_alt</button>
    <button mdcIconButton class="material-icons" title="More options">more_vert</button>
  </div>
</div>

<app-choose-link-dialog #streamLinksDialog
  title="Choose a stream link"
  [links]="release.streamLinks"
></app-choose-link-dialog>

<app-choose-link-dialog #downloadLinksDialog
  title="Choose a download link"
  [links]="release.downloadLinks"
></app-choose-link-dialog>
