@import "../../episode/choose-link-dialog/choose-link-dialog.component.scss";
@import "../../shared/css/colors.scss";

[mdcDialogBody] {
  position: relative;
}

[mdcTabBarScroller] {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
}

.empty-text {
  display: block;
  text-align: center;
  padding-top: 20px;
}

.viewed-icon {
  color: $blue-color;
  vertical-align: middle;
  font-size: 1.6em;
  margin-left: 8px;
}
