
<div #viewport class="page">

  <aside mdcDrawerContainer="temporary" [(open)]="openMenu">
    <nav mdcDrawer>
      <div mdcDrawerToolbarSpacer></div>
      <!-- <div mdcDrawerHeader>
        <div mdcDrawerHeaderContent>Anime Tracker</div>
      </div> -->
      <div mdcDrawerContent mdcListGroup>
        <nav mdcList>
          <a mdcListItem [routerLink]="['/']" [queryParams]="{ view: views.Latest }" [selected]="view === views.Latest" (click)="closeMenu()">
            <i mdcListItemGraphic class="material-icons" aria-hidden="true">star</i>Latest
          </a>
          <a mdcListItem [routerLink]="['/']" [queryParams]="{ view: views.Favorites }" [selected]="view === views.Favorites" (click)="closeMenu()">
            <i mdcListItemGraphic class="material-icons" aria-hidden="true">favorite</i>Favorites
          </a>
        </nav>
        <hr mdcListDivider>
        <nav mdcList>
          <a mdcListItem [routerLink]="['/viewed']" [selected]="router.url.startsWith('/viewed')" (click)="closeMenu()">
            <i mdcListItemGraphic class="material-icons" aria-hidden="true">visibility</i>Viewed
          </a>
        </nav>
      </div>
    </nav>
  </aside>

  <div class="content">
    <header mdcTopAppBar [viewport]="viewport" [fixedAdjust]="content">
      <div mdcTopAppBarRow>
        <section mdcTopAppBarSection alignStart>
          <button mdcTopAppBarNavIcon class="material-icons" (click)="toggleMenu()">menu</button>
          <a mdcTopAppBarTitle title="Anime Tracker" [routerLink]="['/']">
            <img alt="logo" src="assets/icons/128.png" />
          </a>
          <app-search-input [(value)]="searchValue" (tap)="onSearchTap()" (valueChange)="onSearchValueChange($event)"></app-search-input>
        </section>
        <section mdcTopAppBarSection alignEnd>
          <a
            *ngIf="settings.openInNewTab"
            [routerLink]="['/']"
            [queryParams]="{ view: view === views.Favorites ? views.Latest : views.Favorites }"
            [title]="view === views.Favorites ? 'Show all' : 'Show favorites'"
            mdcTopAppBarAction
            class="material-icons"
            label="Show favorites"
          >
            {{ view === views.Favorites ? 'favorite' : 'favorite_border' }}
          </a>
          <app-badge-button
            class="material-icons"
            label="Notifications"
            title="Notifications"
            [badge]="notifications.unreadCount"
            (click)="toggleNotifications()"
          >
            notifications
          </app-badge-button>
          <a
            [routerLink]="['/settings']"
            mdcTopAppBarAction
            class="material-icons"
            label="Settings"
            title="Settings"
          >
            settings
          </a>
        </section>
      </div>
      <div mdcLinearProgress [indeterminate]="true" [closed]="!isLoading"></div>
    </header>

    <main #content>
      <ng-content></ng-content>
    </main>
  </div>

  <aside mdcDrawerContainer="temporary" class="right" [(open)]="openNotifications" (openChange)="onOpenNotificationsChange($event)">
    <nav mdcDrawer>
      <div mdcDrawerToolbarSpacer></div>
      <div mdcDrawerHeader>
        <div mdcDrawerHeaderContent>Notifications</div>
      </div>
      <app-notifications mdcDrawerContent></app-notifications>
    </nav>
  </aside>

</div>
