
<aside #dialog="mdcDialog" mdcDialog mdcFocusTrap>
  <div mdcDialogSurface>
    <header mdcDialogHeader>
      <h2 mdcDialogHeaderTitle>{{ title }}</h2>
    </header>
    <section mdcDialogBody scrollable>
      <ul mdcList *ngIf="links?.length; else emptyTemplate">
        <li *ngFor="let link of links" mdcListItem>
          <span class="badge">{{ link.lang }}</span>
          <a class="link" [href]="link.url" target="_blank" (click)="onClick($event, link.url)">{{ link.url }}</a>
        </li>
      </ul>
      <ng-template #emptyTemplate>
        <div class="empty-text">No available links.</div>
      </ng-template>
    </section>
    <footer mdcDialogFooter>
      <button mdcButton mdcDialogCancel>Close</button>
    </footer>
  </div>
  <div mdcDialogBackdrop></div>
</aside>
