
[mdcListGroup] {
  padding: 0 10px;
}

.red-heart {
  color: #e25555;
}

.episode-number-badge {
  padding: 5px 8px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  background: #00a651;
  border-radius: 3px;
  margin: 0 5px;
}
