@import "../../shared/css/colors.scss";

[mdcDialogBody] {
  padding: 0;
}

[mdcListItem] {
  margin: 0 10px;
}

.tab-content {
  margin-top: 20px;
}

.red-heart {
  color: $red-color;
}

[mdcSelect] {
  min-width: 200px;
  select {
    text-align: center;
  }
  label, .mdc-notched-outline, .mdc-notched-outline__idle {
    transition: none;
  }
}
