
<ng-container *ngIf="getCount() > 0; else noNotificationsTpl">
  <div mdcListGroup>
    <nav mdcList class="mdc-list--two-line" *ngFor="let notification of getByType(notificationTypes.Success)">
      <a mdcListItem>
        <i mdcListItemGraphic class="material-icons success" aria-hidden="true">check_circle</i>
        <ng-container
          [ngTemplateOutlet]="notificationTextTpl"
          [ngTemplateOutletContext]="{ $implicit: notification }"
        ></ng-container>
      </a>
      <hr mdcListDivider>
    </nav>
    <nav mdcList class="mdc-list--two-line" *ngFor="let notification of getByType(notificationTypes.Info)">
      <a mdcListItem>
        <i mdcListItemGraphic class="material-icons info" aria-hidden="true">info</i>
        <ng-container
          [ngTemplateOutlet]="notificationTextTpl"
          [ngTemplateOutletContext]="{ $implicit: notification }"
        ></ng-container>
      </a>
      <hr mdcListDivider>
    </nav>
    <nav mdcList class="mdc-list--two-line" *ngFor="let notification of getByType(notificationTypes.Error)">
      <a mdcListItem>
        <i mdcListItemGraphic class="material-icons error" aria-hidden="true">error</i>
        <ng-container
          [ngTemplateOutlet]="notificationTextTpl"
          [ngTemplateOutletContext]="{ $implicit: notification }"
        ></ng-container>
      </a>
      <hr mdcListDivider>
    </nav>
  </div>
  
  <ng-template #notificationTextTpl let-notification>
    <span mdcListItemText>
      {{ notification.message }}
      <span mdcListItemSecondaryText>{{ notification.date | datetime }}</span>
    </span>
  </ng-template>
</ng-container>

<ng-template #noNotificationsTpl>
  <div class="no-notifications-container">
    <i mdcListItemGraphic class="material-icons" aria-hidden="true">notifications_off</i>
  </div>
</ng-template>
