
<div mdcListGroup>

  <ul mdcList [nonInteractive]="true">
    <li mdcListItem>
      <i mdcListItemGraphic class="material-icons">share</i>
      <span mdcListItemText>
        Proxy
        <span mdcListItemSecondaryText>Used to bypass CORS limitations on browsers</span>
      </span>
      <div mdcListItemMeta mdcSelect>
        <select mdcSelectControl [(ngModel)]="settings.proxy">
          <option value="">None</option>
          <option *ngFor="let proxy of proxies" [value]="proxy.url">{{ proxy.name }}</option>
        </select>
        <label mdcFloatingLabel></label> <!-- gives an error when removed, so better let it empty for now -->
      </div>
    </li>
    <li *ngIf="browser.isWebExtension" mdcListItem>
      <i mdcListItemGraphic class="material-icons">open_in_new</i>
      <span mdcListItemText>
        Open in a new tab
        <span mdcListItemSecondaryText>Instead of a popup</span>
      </span>
      <div mdcListItemMeta mdcSwitch>
        <input mdcSwitchInput type="checkbox" [(ngModel)]="settings.openInNewTab"/>
      </div>
    </li>
    <li *ngIf="browser.isWebExtension" mdcListItem>
      <i mdcListItemGraphic class="material-icons">link</i>
      <span mdcListItemText>
        Open links in inactive tabs
        <span mdcListItemSecondaryText>Avoid losing focus of the current tab</span>
      </span>
      <div mdcListItemMeta mdcSwitch>
        <input mdcSwitchInput type="checkbox" [(ngModel)]="settings.openLinksInInactiveTabs"/>
      </div>
    </li>
    <li mdcListItem>
      <i mdcListItemGraphic class="material-icons">widgets</i>
      <span mdcListItemText>
        Maximum number of episodes to retrieve from each website
        <span mdcListItemSecondaryText>Excluding some episodes may reduce loading time</span>
      </span>
      <div mdcListItemMeta>
        <input type="number" class="number-input" min="5" max="100" [(ngModel)]="settings.maxEpisodesToRetrieve"/>
      </div>
    </li>
    <li mdcListItem>
      <i mdcListItemGraphic class="material-icons">bug_report</i>
      <span mdcListItemText>
        Enable debugging
        <span mdcListItemSecondaryText>Print debug logs on browser console</span>
      </span>
      <div mdcListItemMeta mdcSwitch>
        <input mdcSwitchInput type="checkbox" [(ngModel)]="settings.enableDebugging" (change)="onEnableDebuggingSwitchChange($event.target.checked)"/>
      </div>
    </li>
    <!-- <li mdcListDivider [inset]="true"></li> -->
  </ul>

</div>
